
/*==== General Styles ====*/
ul {
  text-decoration: none;
  text-align: center;
  list-style: none;
}

ul li {
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

/*==== Heading and Navigation Styles====*/
header {
  background: #2694D9;
  height: 65px;
}

nav {
  background: #2694D9;
  color: #fff;
  height: 65px;
}

.logo {
  float: left;
  margin-top: 10px;
}

.navlinks ul {
  float: right;
}

.navlinks ul li {
  display: inline-block;
  padding: 20px 20px;
  margin: 0px 15px 0px 15px;
  font-size: 16px;
}

header div nav ul li:nth-child(4) {
  border-style: solid;
  width: 125px;
  padding: 8px;
}

<<<<<<< HEAD
=======
/* Larger than mobile */

>>>>>>> 816db73788f93f5c86d1f5cdf9fdeded2a58793e

/*==== Hero Image and Tagline Styles ====*/

.hero {
  height: 715px;
  background-image: url('../images/collaboratejoyfully.png');
  background-size: cover;
  background-position: center center;
}

.hero .tagline {
  display: inline-block;
  position: relative;
  margin-top: 260px;
}

.hero .tagline h1 {
  font-size: 7.0rem;
  color: #fff;
}

.hero .tagline h2 {
  font-size: 2.5rem;
  color: #fff;
}

.works-button {
  display: inline-block;
  text-align: center;
}

.works-button button {
  background: #99CC33;
  color: #fff;
  border-style: none;
  text-transform: none;
  font-size: 1.5rem;
}

/*==== Get Started Call to Action Section Styles ====*/

.get-started {
  background: #335E5E;
  height: 60px;
}

.get-started-list ul {
  margin-top: 10px;
  margin-right: -15px;
  float: right;
}

.get-started-list ul li {
  display: inline-block;
  margin: 5px 0 5px 0;
  font-size: 18px;
  color: #fff;
}

.get-started-signup input{
  margin-top: 10px;
  margin-left: -5px;
  float: left;
}

.get-started-submit input{
  margin-top: 10px;
  margin-left: -35px;
  float: left;
  text-transform: none;
  font-size: 1.5rem; 
}

/*==== Jottly App Screen Header Styles ====*/

.app-bg {
 background: #99CC33;
 height: 400px;
 }

 .app-bg .app-screen {
  display: inline;
  text-align: center;
  margin-top: 50px;
 }

 .app-bg .app-screen img {
  width: 750px;
 }

/*==== How Jottly Works Section Styles ====*/

.how-works {
  height: 600px;
  background: #ECF0F1;
}

.how-works-header {
   background: #ECF0F1;
   width: 100%;
   padding-top: 30px;
}

.how-works-header h2 {
  font-size: 4.75rem;
  line-height: 3.5rem;
}

.how-works-header h3 {
  font-size: 2.5rem;
}

.step-1, .step-2, .step-3 {
  text-align: center;
  padding-top: 20px;
}

.three h3 {
  font-size: 2.25rem;
  line-height: 1.25rem;
}

.three p {
  margin-top: 15px;
}

.four h3 {
  font-size: 2.25rem;
  line-height: 1.25rem;
}

.four p {
  margin-top: 15px;
}

.try-jottly-free {
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
}

.try-jottly-free input {
  font-size: 1.5rem;
}

/*==== User Testimonials Quotes and Logo Section Styles ====*/

.testimonials {
  height: 600px;
  background: url('../images/workdesk.jpg');
  background-position: center bottom;
  background-size: cover;
}

.testimonials h2 {
  font-size: 4.75rem;
  color: #fff;
  padding-top: 125px;
}

.testimonials-box {
    height: 400px;
    margin-top: 50px;
}
.testimonials-box img {
    text-align: center;
    position: relative;
    left: 40%;
    margin-top: 0;
    padding-top: 0;
}

.testimonials-box p {
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  margin-left: 35px;
  margin-right: 35px;
}

.quote-author p {
  text-align: center;
  margin-top: 0;
  font-size: 1.5rem;
}

.testimonials-logos {
  background: #2694D9;
  height: 175px;
}

.press-logos .four {
  display: inline-block;
  text-align: center;
  padding-top: 50px;
}

.testimonials-logos p {
  font-size: 1.75rem;
  color: #fff;
  margin-top: 25px;
}

/*==== Jottly Benefits Section Styles ====*/

.benefits {
  height: 1350px;
}

.benefits h3 {
  text-align: left;
  margin-top: 25px;
}

.benefits p {
  text-align: left;
}

.benefits a {
  text-decoration: none;
  color: #2694D9;
}

.benefit-top {
  margin: 100px 0 50px 0;
}

.benefit-middle {
  margin: 50px 0 50px 0;
}

.benefit-middle img {
  height: 325px;
}

.benefit-middle {}

.benefit-bottom {
  margin: 50px 0 100px 0;
}

/*==== Other Jottly Benefits Section Styles ====*/

.other-benefits {
  height: 700px;
  background: #99CC33;
}

.other-benefits .feature {
  text-align: center;
  margin-top: 50px;
  margin-right: 25px;
}

.other-benefits img {
  height: 125px;
  width: 125px;
}

.other-benefits h2 {
  padding-top: 100px;
  font-size: 4.75rem;
}

.other-benefits h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-top: 15px;
  margin: 0 25px 0 25px;
  line-height: 2.75rem;
}

.more-features {
  display: inline-block;
  text-align: center;
}

.more-features p {
  font-size: 1.75rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
}

/*==== Footer Call to Action Section Styles ====*/

.footer-cta {
  height: 700px;
  box-shadow: 0px 700px rgba(38, 148, 217, 0.6) inset;
  background: url('../images/handwriting.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.footer-cta h2 {
  text-align: left;
  font-size: 7.0rem;
  margin-top: 90px;
}

.footer-cta p {
  text-align: left;
  font-size: 2.5rem;
  margin-top: 35px;
}

.footer-cta button {
  background: #fff;
  color: #2694D9;
  font-size: 2.0rem;
  height: 75px;
  text-transform: none;
  margin-top: 50px;
}

/*==== Footer Section Styles ====*/

footer {
  height: 300px;
  background: #ECF0F1;
}

footer h4 {
  padding-top: 50px;
  font-size: 1.75rem;
  font-weight: bold;
}

footer ul li {
  text-align: left;
}

footer .logo-social {
  padding-top: 50px;
}

footer .logo-social .footer-logo {
  height: 60px;
}

footer .logo-social img {
  height: 50px;
  padding: 0 3px 0 3px;
}

footer .logo-social .copyright {
  display: block;
  float: left;
  margin-top: 80px;
}










